/* ЛОГОТИП ХЕДЕР */

.logo__part {
  color: $interactive-color;
}

.logo {
  display: flex;
  padding: 16px 0;
  width: max-content;

  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;

  color: $logo-color-header;

  &--white {
    padding: 0;

    color: $background-text-color;

    @media screen and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      width: auto;
    }
  }
}
