/* СЕКЦИЯ ПОСТОЯННЫХ КЛИЕНТОВ */

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;     
}

.clients__icon {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        &:nth-child(n+4) {
            margin-top: 0;
        }
    }
}

.clients__link {
    /*display: block;*/
    border: 1px solid $color-icons;
    border-radius: 4px;
    /*cursor: pointer;*/
    width: 210px;
    height: 92px;
    fill: $color-icons;
    display: flex;
    align-items: center;
    justify-content: center;

    /*transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/

    @media screen and (min-width: 768px) {
        width: 226px; 
    }
    
   /* &:hover,
    &:focus {
        fill: $interactive-color;
        border-color: $interactive-color;
    }*/
} 